<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>小润在线聊天室</title>
<link rel="stylesheet" href="../static/css/base.css" type="text/css"/>
<script type="text/javascript" charset="utf-8" src="../static/js/chat.js"></script>
</head>
<body onload="init()">
<div align="center">
<h2>小润聊天室</h2>
<br><br>
<div id="log"></div>
<input id="msg" type="textbox" onkeypress="onkey(event)"/>
<button onclick="send()">发送</button>
</div>
</body>
</html>